---
import Layout from "../layouts/Layout.astro";
import Principal from "../components/Pathfinding.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Pathfiding" />
<main>
  <Principal />
  <Footer />
</main>
