<footer class="bg-gray-800 text-white py-4">
  <div
    class="container mx-auto px-4 sm:px-6 lg:px-8 flex justify-center items-center"
  >
    <p class="mr-4">
      Created with <span class="text-red-500">❤</span> by Diego Villagran
    </p>
    <a
      href="https://github.com/dvillagrans"
      target="_blank"
      rel="noopener noreferrer"
      class="mx-2"
    >
      <i class="fab fa-github fa-lg"></i>
    </a>
    <a
      href="www.linkedin.com/in/dvillagrans"
      target="_blank"
      rel="noopener noreferrer"
      class="mx-2"
    >
      <i class="fab fa-linkedin fa-lg"></i>
    </a>
  </div>
</footer>
