---
import "../styles/global.css";
interface Props {
  title: string;
}
const { title } = Astro.props;

const fontHeading =
  "https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap";
const fontBody =
  "https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap";
---

<html lang="en">
  <head>
    <!-- Enlaces a las fuentes de Google -->
    <link rel="stylesheet" href={fontHeading} />
    <link rel="stylesheet" href={fontBody} />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script src="../scripts/main.js"></script>
    <script src="../scripts/astar.js"></script>
    <script src="../scripts/tablero.js"></script>
    <title>{title}</title>
  </head>
  <body
    onload="inicializa();"
    class="antialiased"
    style="--font-heading: Inter, sans-serif; --font-body: Inter, sans-serif;"
  >
    <slot />
  </body>
</html>
